<h1>Add New Driver</h1>
  <%= form_with model: @driver, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :team %>
    <%= form.text_field :team %>
    <%= form.label :profile %>
    <%= form.text_field :profile %>
    <%= form.submit %>
  <% end %>

  <%= link_to "Back", :back %>