<h1>Show Page</h1>

<p>
<strong>Name: </strong><%= @driver.name  %> <br> 
<strong>Driving For: </strong><%= @driver.team %></p>
<img src="<%= @driver.profile %>" alt="Photo">

<br>
<%= link_to "Update Driver", drivers_edit_path(@driver.id) %>

<%= link_to "Delete Driver", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "Back", :back %>